.navbar_Main_ {
  width: 100%;
  height: 55px;
  background-color: hsla(210, 9%, 31%, 0.05);
  border-radius: 0px 0px 5px 5px;
  position: fixed;
  z-index: 10;
  padding-top: 10px;
}

.navbar_Main_ {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.navbar_btn_Maindiv_ {
  display: grid;
  align-items: center;
  justify-content: end;
  justify-self: end;
  margin-right: 70px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.navbar_btn_ {
  overflow: hidden;
  display: flex;
  text-decoration: none;
  color: #e9ecef;
  transition: all 0.2s;
  text-align: center;
  justify-content: center;
  animation: navbtn 0.8s ease-in-out;
  animation-iteration-count: initial;
  font-size: 21px;
}

@keyframes navbtn {
  0% {
    transform: translate(70px, 0px);
    opacity: 0.1;
  }

  100% {
    transform: translate();
    opacity: 1;
  }
}

.navbar_btn_:hover {
  scale: 1.11;
  color: white;
}
.navbar_icon_self_ {
  margin-top: 17px;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  padding: 10px;
  justify-content: center;
  font-size: 30px;

  color: #e9ecef;
  margin-right: 80px;
  transition: all 1s;
  animation: icon 1s;
  animation-iteration-count: initial;

  color: #cb9067;
  font-weight: 900;
}
.navbar_icon_self_:hover {
  scale: 1.1;
  cursor: pointer;
}
@keyframes icon {
  0% {
    color: #cb9067;
    opacity: 0;
  }

  50% {
    color: #433022;
    scale: 1.1;
    opacity: 0.5;
  }

  100% {
    color: #cb9067;
    opacity: 1;
  }
}

.SMainPage_ {
  border-bottom: rgb(255, 255, 255) solid 1px;
  border-radius: 1px;
}

@media only screen and (max-width: 900px) {
  .navbar_Main_ {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
@media only screen and (max-width: 700px) {
  .navbar_Main_ {
    display: grid;
    grid-template-columns: 1fr 1000fr 1fr;
  }
  .navbar_icon_self_ {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar_icon_self_ {
    font-size: 17px;
  }
  .navbar_icon_ {
    display: grid;
    width: 80px;
    text-align: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
  }
  .navbar_icon_self_ {
    margin: 0px;
    justify-content: center;
    justify-self: center;
    justify-items: center;
  }
  .navbar_btn_Maindiv_ {
    margin-right: 0px;
    gap: 0px;
  }
  .navbar_btn_ {
    font-size: 15px;
  }
}

.SMainPage_ {
  display: flex;
  align-items: center;
}

.byingnumber {
  margin-left: 10px;

  border-radius: 10px;
  padding: 2px;
  padding-top: 10px;
  padding-bottom: 10px;

  transition: all 0.2s;
}
.navbar_btn_animating_click {
  scale: 2.3 !important;
  transition: all 0.2;
}

.navbar_icon_self_ {
  display: grid;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;

  height: 50px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.01em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(15, end) infinite,
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0%;
    opacity: 0;
  }
  25% {
    width: 100%;
    opacity: 1;
  }

  50% {
    width: 100%;
    opacity: 1;
  }

  75% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes hidenedAnimation {
}

.navbar_icon_self__father {
  width: min-content;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  margin: auto auto;
}
