.Main_Footer {
  display: flex;
  width: 85%;
  height: 400px;

  border-radius: 1px;

  margin: 0px auto;

  transform: translate(0, 120px);
  justify-content: center;
}
.Footer_header {
  height: 3px;
  background-color: #c27035;
  border-radius: 20px;
  box-shadow: #c27035 0px 0px 10px 1px;

  animation: Footerheader 2s;
  width: 100%;
}

@keyframes Footerheader {
  0% {
    width: 35%;
  }
  10% {
    width: 35%;
  }

  100% {
    width: 100% !important;
  }
}

.Footer {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}
.header_fotehr_content {
  backdrop-filter: blur(2px) saturate(200%);

  width: 300px;
  padding: 20px 70px;
  transform: translate(0, 100px);
  border-radius: 90px;
  box-shadow: black 0px 0px 50px 10px;
  animation: Footeranimating 5s;
  animation-iteration-count: infinite;
  transition: all 0.5s;
}
@keyframes Footeranimating {
  0% {
    transform: translate(0, 100px);
  }
  50% {
    transform: translate(0, 90px);
  }
  100% {
    transform: translate(0, 100px);
  }
}
.header_fotehr_content:hover {
  backdrop-filter: blur(8px) saturate(300%);
}
.header_fotehr_content_h1 {
  display: flex;
  align-items: center;
}

.header_fotehr_content_h1 {
  color: wheat;

  justify-content: center;
  font-size: 40px;
  font-weight: 900;
}
.header_fotehr_content_p {
  display: flex;
  align-items: center;

  color: wheat;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
}

.Footer_content_num {
  display: flex;
  color: wheat;

  justify-content: center;
  font-size: 22px;
  text-align: center;
  border-bottom: #c27035 solid 1px;
  width: 155px;
  margin: auto;
  font-weight: 900;
}

.fds {
  height: 100px;
  width: 100px;
}
.Main_Footer_content_icons {
  display: grid;
  justify-content: center;
  margin-top: 30px;
}

.Footer_content_icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 220px;
  /* gap: -40px; */
  justify-self: center;
}
.Footer_icon_self {
  transition: all 0.1s;
}
.Footer_icon_self:hover {
  cursor: pointer;
  scale: 1.2;
}

@media only screen and (max-width: 700px) {
  .header_fotehr_content {
    width: 200px;
  }

  .header_fotehr_content_h1 {
    font-size: 30px;
  }
  .header_fotehr_content_p {
    font-size: 20px;
  }
  .Footer_content_num {
    font-size: 20px;
  }
}
