.MaidDivBycart {
  height: 10vh;
  width: 100%;

  position: relative;
}

.divbycart {
  background-size: cover;
  animation: Mainbackground 1.2s;
  animation-iteration-count: initial;
}

@keyframes Mainbackground {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
.divbycart {
  height: 100vh;
  background-attachment: fixed;

  color: rgb(53, 49, 49);
  background-color: black;
}
