html,
body {
  /* margin: 0;
  padding: 0;
  height: 190%;
  background-image: linear-gradient(#261000, #210f02); */
}

body {
  margin: 0;
  padding: 0;
  height: 190%;
  /* position: static; */
  /* background-image: linear-gradient(#8c3f07, #1d0d02); */
}
