.MainOrderBycardDiv {
  background-color: rgba(255, 255, 255, 0.25);
  /* position: fixed;
  z-index: 100; */
  /* margin: 200px auto; */
  /* transform: translate(50%, 25%); */
  /* cursor: pointer; */
  /* margin: auto auto; */
  border-radius: 50px;
  border: white 3px solid;
  /* box-shadow: 0px 0px 10px 10px white; */
  box-shadow: 0px 0px 50px 10px rgb(0, 0, 0) inset;
  /* overflow-y: scroll; */
  padding-top: 10px;
  margin-right: 5px;
  /* margin: 2px; */
}
.secendery_OrderBycardDiv {
  /* width: 50%;
  height: 580px;
  background-color: rgba(255, 255, 255, 0.25);
  position: fixed;
  z-index: 100;
  transform: translate(50%, 25%);
 
  border-radius: 50px;
  border: white 3px solid;
  box-shadow: 0px 0px 50px 10px rgb(0, 0, 0) inset;
  overflow-y: scroll;
  padding-top: 10px; */

  /* width: 50%; */
  /* height: 580px; */
}

.GodOrderBycardDiv {
  /* padding: 100px; */
  width: 50%;
  height: 70%;
  /* background-color: rgba(255, 255, 255, 0.25); */
  position: fixed;
  z-index: 100;
  /* margin: 200px auto; */
  transform: translate(50%, 25%);
  /* cursor: pointer; */
  /* margin: auto auto; */
  border-radius: 50px;
  /* border: white 3px solid; */
  /* box-shadow: 0px 0px 10px 10px white; */
  /* box-shadow: 0px 0px 50px 10px rgb(0, 0, 0) inset; */
  overflow-y: scroll;
  /* padding-top: 10px; */
}

.OrderBycardDiv {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.GodOrderBycardDiv::-webkit-scrollbar {
  width: 16px;
  background-color: #00000000;
  /* transform: translate(100px, 100px); */

  /* direction: rtl; */

  /* margin-top: 100px; */
  /* height: 100px; */
}
.GodOrderBycardDiv::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 4px solid black;
  border: 6px solid #00000000;
  background-color: #ffffff;
  /* transform: translate(100px, 100px);
  position: absolute; */
  /* left: 100px; */
}

*::-webkit-scrollbar {
  /* width: 16px;
  background-color: #00000000; */
}
*::-webkit-scrollbar-thumb {
  /* width: 10px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 4px solid black;
  border: 6px solid #00000000;
  background-color: #ffffff; */
}
.Main_by_bution {
  display: grid;
  justify-content: end;
  grid-template-columns: 2fr 1fr;
  /* padding-right: 100px; */
  padding: 20px 100px;
}

.byBtn {
  cursor: pointer;

  width: 120px;
  height: 60px;

  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);

  border: solid 5px white;

  font-size: 20px;
  font-weight: 900;
  color: white;
  transition: all 0.2s;

  user-select: none;
}
.byBtn:hover {
  /* background-color: rgba(236, 236, 236, 0.8); */
  background-color: rgba(194, 193, 193, 0.7);
  border: solid 5px rgb(0, 0, 0);
  color: black;
  scale: 1.15;
  font-size: 21px;
}
.byBtn:active {
  scale: 1.2;
}

.NumBtn {
  /* cursor: pointer; */

  width: 120px;
  height: 60px;

  border-radius: 12px;
  background-color: rgba(227, 225, 225, 0.9);

  border: solid 2px white;

  font-size: 26px;
  font-weight: 900;
  color: black;
  border: 5px solid black;
  box-shadow: 0px 0px 12px 3px black;
  transition: all 0.2s;
  user-select: none;
}
@media only screen and (max-width: 1300px) {
  .NumBtn {
    width: 100px;
    height: 50px;
    font-size: 23px;
  }
  .byBtn {
    width: 100px;
    height: 50px;
    font-size: 16px;
  }
  .GodOrderBycardDiv {
    width: 60%;
    /* height: 580px; */
    height: 70%;

    transform: translate(36%, 25%);
  }
}

@media only screen and (max-width: 750px) {
  .NumBtn {
    width: 80px;
    height: 40px;
    font-size: 19px;
  }
  .byBtn {
    width: 80px;
    height: 40px;
    font-size: 12px;
  }
  .GodOrderBycardDiv {
    width: 80%;
    /* height: 580px; */
    height: 75%;

    transform: translate(14%, 25%);
  }
}

@media only screen and (max-width: 550px) {
  .NumBtn {
    width: 80px;
    height: 40px;
    font-size: 19px;
    margin-right: 10px;
  }
  .byBtn {
    width: 80px;
    height: 40px;
    font-size: 12px;
    margin-left: 10px;
  }
  .GodOrderBycardDiv {
    width: 94%;
    height: 80%;
    overflow-x: hidden;

    transform: translate(5%, 19%);
  }
}
@media only screen and (max-width: 430px) {
  .GodOrderBycardDiv {
    /* width: max(315px, 100%); */
    /* min-width: 315px; */

    /* width: 300px; */
    /* min-width: 315px; */
    /* margin: auto; */
    /* align-items: center; */

    transform: translate(5%, 19%);
    /* transform: translate(20%, 19%); */
  }
  .OrderBycardDiv {
    /* width: 200px  */
    display: grid;
    justify-content: center;
    justify-self: center;
    justify-items: center;
  }
}
