.MainOrderBycardDiv {
  background-color: rgba(255, 255, 255, 0.25);

  border-radius: 50px;
  border: white 3px solid;

  box-shadow: 0px 0px 50px 10px rgb(0, 0, 0) inset;

  padding-top: 10px;
  margin-right: 5px;
}

.GodOrderBycardDiv {
  width: 50%;
  height: 70%;

  position: fixed;
  z-index: 100;

  transform: translate(50%, 28%);

  border-radius: 50px;

  overflow-y: scroll;
}

.OrderBycardDiv {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.GodOrderBycardDiv::-webkit-scrollbar {
  width: 16px;
  background-color: #00000000;
}
.GodOrderBycardDiv::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 4px solid black;
  border: 6px solid #00000000;
  background-color: #ffffff;
}

.Main_by_bution {
  display: grid;
  justify-content: end;
  grid-template-columns: 2fr 1fr;

  padding: 20px 100px;
}

.byBtn {
  cursor: pointer;

  width: 120px;
  height: 60px;

  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);

  border: solid 5px white;

  font-size: 20px;
  font-weight: 900;
  color: white;
  transition: all 0.2s;

  user-select: none;
}
.byBtn:hover {
  background-color: rgba(194, 193, 193, 0.7);
  border: solid 5px rgb(0, 0, 0);
  color: black;
  scale: 1.15;
  font-size: 21px;
}
.byBtn:active {
  scale: 1.2;
}

.NumBtn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-content: center;

  width: 150px;
  height: 60px;

  border-radius: 12px;
  background-color: rgba(227, 225, 225, 0.9);

  border: solid 2px white;

  font-size: 26px;
  font-weight: 900;
  color: black;
  border: 5px solid black;
  box-shadow: 0px 0px 12px 3px black;
  transition: all 0.2s;
  user-select: none;
}
@media only screen and (max-width: 1300px) {
  .NumBtn {
    width: 130px;
    height: 50px;
    font-size: 23px;
  }
  .byBtn {
    width: 100px;
    height: 50px;
    font-size: 16px;
  }
  .GodOrderBycardDiv {
    width: 60%;
    height: 70%;

    transform: translate(36%, 25%);
  }
}

@media only screen and (max-width: 750px) {
  .NumBtn {
    width: 110px;
    height: 40px;
    font-size: 19px;
  }
  .byBtn {
    width: 80px;
    height: 40px;
    font-size: 12px;
  }
  .GodOrderBycardDiv {
    width: 80%;
    height: 75%;

    transform: translate(14%, 25%);
  }
}

@media only screen and (max-width: 550px) {
  .NumBtn {
    width: 100px;
    height: 40px;
    font-size: 19px;
    margin-right: 10px;
  }
  .byBtn {
    width: 80px;
    height: 40px;
    font-size: 12px;
    margin-left: 10px;
  }
  .GodOrderBycardDiv {
    width: 94%;
    height: 80%;
    overflow-x: hidden;

    transform: translate(5%, 19%);
  }
}
@media only screen and (max-width: 430px) {
  .GodOrderBycardDiv {
    transform: translate(5%, 19%);
  }
  .OrderBycardDiv {
    display: grid;
    justify-content: center;
    justify-self: center;
    justify-items: center;
  }
}
.valueChange {
  animation: valueChangeAnimation 0.4s;
  animation-iteration-count: initial;
}

@keyframes valueChangeAnimation {
  0% {
    opacity: 0;
    scale: 0.1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.parentBycard_div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
