.homeContent {
  transform: translate(0px, 150px);
  z-index: 10;
  position: absolute;

  width: 100%;

  height: 600px;
  margin-right: auto;
  margin-left: auto;

  display: grid;
  grid-template-columns: 1fr 4fr;
}
.Main_order {
  width: 100%;
  height: 100%;
}
.Main_list {
  width: 90%;
  height: 100%;

  margin-right: 60px;
  margin-left: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 50px;
  grid-template-rows: 200px;
}
.Main_order_loding {
  width: 100%;
  height: 100%;
  font-size: 50px;
  color: white;
  margin-left: 80px;
  margin-top: 100px;

  font-weight: 900;
}

.GodListRender_emty {
  font-size: 50px;
  transform: translate(100px, 100px);
  color: white;
  font-weight: 900;
  animation: GodListRender_emty__animating 0.5s;
  animation-iteration-count: initial;
}
@keyframes GodListRender_emty__animating {
  0% {
    opacity: 0;
    transform: translate(300px, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(100px, 100px);
  }
}

@media only screen and (min-width: 1400px) {
  .Main_list {
    animation: revers_Main_list_responsive_0 0.5s;
    animation-iteration-count: initial;
  }
  @keyframes revers_Main_list_responsive_0 {
    0% {
      opacity: 0;
      scale: 0.2;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .Main_list {
    margin-right: 60px;
    margin-left: 100px;

    grid-template-columns: 1fr 1fr;
    animation: Main_list_responsive_0001 0.5s;
    animation-iteration-count: initial;
  }
  @keyframes Main_list_responsive_0001 {
    0% {
      transform: rotate(90deg);

      opacity: 0;
      scale: 0.2;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }
}
@media only screen and (max-width: 1400px) {
  .Main_list {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  .homeContent {
    transform: translate(0px, 150px);
    z-index: 10;
    position: absolute;

    width: 100%;

    height: 600px;
    margin-right: auto;
    margin-left: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    animation: MainOrder_responsive_0 0.5s;
    animation-iteration-count: initial;
  }
  .GodOrderComponent {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @keyframes MainOrder_responsive_0 {
    0% {
      transform: rotate(90deg);
      opacity: 0;
      scale: 0.2;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }
  .Main_list {
    margin-right: auto;
    margin-left: auto;
  }
  .GodListRender_emty {
    font-size: 50px;
    transform: translate(250px, -150px);
    color: white;
    font-weight: 900;
    animation: GodListRender_emty__animating 0.9s;
    animation-iteration-count: initial;
  }
  @keyframes GodListRender_emty__animating {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .homeContent {
    animation: MainOrder_responsive_00 0.5s;
    animation-iteration-count: initial;
  }
  @keyframes MainOrder_responsive_00 {
    0% {
      transform: rotate(-90deg);
      opacity: 0;
      scale: 0.2;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }
}

@media only screen and (max-width: 800px) {
  .Main_list {
    grid-template-columns: 1fr;
    animation: Main_list_responsive_0 0.5s;
    animation-iteration-count: initial;
    justify-content: center;
    justify-items: center;
  }
  @keyframes Main_list_responsive_0 {
    0% {
      opacity: 0;
      scale: 0.2;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }
  .GodOrderComponent {
  }
  .GodListRender_emty {
    font-size: 50px;
    transform: translate(10px, -150px);
    color: white;
    font-weight: 900;
    animation: GodListRender_emty__animating 0.9s;
    animation-iteration-count: initial;
  }
  @keyframes GodListRender_emty__animating {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 800px) {
  .Main_list {
    animation: revers_Main_list_responsive_0 0.5s;
    animation-iteration-count: initial;
  }
  @keyframes revers_Main_list_responsive_0 {
    0% {
      opacity: 0;
      scale: 0.2;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }
}

@media only screen and (max-width: 600px) {
}
.Main_div_ResponsiveOrderIcons {
  width: 100px;
}
.Main_ResponsiveOrderIcons {
  width: 100px;
  height: 40px;
  background-color: rgba(237, 237, 237, 0.2);
  border-radius: 10px;
  animation: Main_ResponsiveOrderIcons_animation_01 2s;
  animation-iteration-count: infinite;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  text-align: center;

  display: none;
  width: 100px;
}
.Main_ResponsiveOrderIcons:hover {
  background-color: rgba(237, 237, 237, 0.6);
}
.Main_ResponsiveOrderIcons:active {
  background-color: rgba(237, 237, 237, 0.9);
}

.self_ResponsiveOrderIcons {
  padding-top: 8px;
}

@keyframes Main_ResponsiveOrderIcons_animation_01 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media only screen and (max-width: 650px) {
  .Main_ResponsiveOrderIcons {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-left: 10px;
  }
  .self_ResponsiveOrderIcons {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 650px) {
}

@media only screen and (max-width: 500px) {
  .GodOrderComponent {
    display: grid;
    grid-template-rows: 80px 80px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
